body{
    width: 100vw;
    height: 100vh;
    font-family: 'Alatsi', sans-serif;
    
}

.main{
    width: 100vw;
    height: 95vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column;
}

@media screen and (min-width: 320px){



.background{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.bg-main{
    width: 100%;
    height: 100vh;
    background-image: url("l-bg.jpg");
    background-size: 100vw 100vh;
    filter: blur(6px);
    position: absolute;
    z-index: 0;
}

.circle{
    width: 55vw;
    height: 55vw;
    background-image: url('l-bg.jpg');
    background-size: cover;
    border-radius: 360px;
    position: relative;
    z-index: 2;
    filter: contrast(1.5)
    /* display: none; */
}

.top{
    position: relative;
    z-index: 3;
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1rem;
}

.menu-layer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: .8rem;

}

/* .ui-top{
    position: relative;
    z-index: 3;
    display: flex;
    width: 100vw;
    height: 2vh;
    justify-content: space-evenly;
    flex-direction: row; */

/* } */

.top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    font-size: .55rem;
    font-weight: 10;
    opacity: .70;
}

.top-left a{
    text-decoration: none;
    color: whitesmoke;
}

.top-title{
    width: 100vw;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.top-right{
    display: flex;
    /* justify-content: space-evenly; */
    width: 10vw;
    height: 2vh;
    /* width: 15vw;
    height: 5vh;
    border: solid white 1px;
    border-radius: 360px; */
    /* background: #000; */

}



.kebab{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    /* padding: 0 16px; */
    /* top: 12px; */
}

.kebab dot{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    margin: 3px 0;
    background: white;
}

.k-img{
    height: 2.5vh;

}

/* .k-img:hover, .k-img:focus{
    filter: invert();
} */

.dropdown-content{
    display: none;
    position: absolute;
    background: rgb(84, 102, 86);
    width: 100vw;
    height: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    /* animation-name: slidein;
    animation: 20s linear 20s; */
    
}

.dropdown-content a {
    color: rgba(255, 255, 255, 0.753);
    /* padding: 12px 16px; */
    text-decoration: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 16%;
}

.dropdown-content a:hover {background: rgb(148, 147, 147);}

.search-drop{
    width: 40%;
    height: 5vh;
    border: solid rgba(201, 206, 202, 0.856) 1px;
    background: whitesmoke;
    border-radius: 360px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* display: none; */
}

.search-drop-inner{
    width: 80%;
    height: 4.5vh;
    border: solid whitesmoke 1px;
    background: whitesmoke;
    border-radius: 360px;
}

.search-drop-icon{
    width: 10%;
    height: 30%;
}

.show {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    animation-name: slidein;
    /* animation: 20s infinite 20; */
    
}

.close{
    color: whitesmoke;
    width: 5px;
    height: 50px;
}

.hide {display: none;}

.mid{
    color: white;
    z-index: 3;
    height: 20vh;
    width: 85vw;
    display: flex;

    justify-content: space-between;
    align-content: space-between;
}

.subtitle{
    font-size: 10vw;
}

.sub-bot{
    padding-left: 25px;
}

.mid-button{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.insp{
    border: none;
    border-radius: 150px;
    height: 4vh;
    width: 35vw;
}

.insp a{
    color: black;
    text-decoration: none;
}

.bot{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;


}

.l-line{
    color: white;
    opacity: .3;
    border: 1px solid white;
    z-index: 3;
    position: relative;
    width: 25%;
    height: 0;
    /* margin-top: 6%; */
    /* height: .099vh; */
}

.social{
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.social-i{
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;
    /* background: white; */
    filter: invert();
}

.social-t{
    
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;
    filter: invert();
    
}

.social-f{
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;
    filter: invert();
}

.social-item{
    width: 4vw;
    height: 4vw;
    border: 1px solid ;
    border-radius: 360px;
    padding: 10px;
    z-index: 3;
}

}

@media screen and (min-width: 700px){
    
    .dropdown-content{
        font-size: 1.2rem;
    }

    .search-drop-inner{
        font-size: 1.2rem;
    }

    .search-drop-icon{
        width: 5%;
    }
    
    .top-left{
        font-size: .75rem;

    }

    .top-title{
        font-size: 2rem;
    }

    .mid{
        width: 75%;
    }

    .insp{
        font-size: 1rem;
    }

    .social{
        align-items: center;
    }

    .social-item{
        width: 3.5vw;
        height: 3.5vw;
        /* align-items: center; */
    }
}

@media screen and (min-width: 1000px) and (max-height: 990px) {
    @media screen and (min-width: 1000px){
        .circle{
            width: 30vw;
            height: 30vw;
        }
    
        .dropdown-content{
            font-size: 1.2rem;
        }
    
        .search-drop{
            width: 25%;
            height: 5vh;
        }
    
        .search-drop-inner{
            font-size: 1.6rem;
        }

        .search-drop-icon{
            width: 4%;
        }
        
        .close{
            height: 25px;
        }
    
        .top-left{
            font-size: .75rem;
        }
    
        .top-title{
            font-size: 2.2rem;
        }
    
        .mid{
            width: 40%;
            height: 40vh;
    }
    
    .subtitle{
        font-size: 7rem;
    }
    
    .mid-button{
        width: 30%;
    }
    
    .insp{
        font-size: 1.2rem;
    }
    
    .social-item{
        width: 1.2vw;
        height: 1.2vw;
    }
    }

}


@media screen and (min-width: 1000px) and (min-height: 1000px){
    .circle{
        /* width: 35vw; */
        /* height: 35vw; */
    }

    .dropdown-content{
        font-size: 1.6rem;
    }

    .search-drop-inner{
        font-size: 1.6rem;
    }

    .top-left{
        font-size: 1.2rem;
    }

    .top-title{
        font-size: 3rem;
    }

    .insp{
        font-size: 1.5rem;
    }
}


    @media screen and (min-width: 1000px) and (max-height:900px){
        .circle{
            width: 35vw;
            height: 35vw;
        }

        .dropdown-content{
            font-size: 1.6rem;
        }

        .search-drop{
            width: 25%;
            height: 6vh;
        }

        .search-drop-inner{
            font-size: 1.6rem;
        }
        
        .close{
            height: 25px;
        }

        .top-left{
            font-size: 1rem;
        }

        .top-title{
            font-size: 2.2rem;
        }

        .mid{
            width: 50%;
            height: 40vh;
    }

    .subtitle{
        font-size: 7rem;
    }

    .mid-button{
        width: 30%;
    }

    .insp{
        font-size: 1.5rem;
    }

    .social-item{
        width: 2.2vw;
        height: 2.2vw;
    }
}


@media screen and (min-width: 2000px){
    .circle{
        width: 30%;
        height: 60%;
    }

    .dropdown-content{
        font-size: 1.6rem;
    }

    .search-drop{
        width: 25%;
        height: 6vh;
    }

    .search-drop-inner{
        font-size: 1.6rem;
    }
    
    .close{
        height: 25px;
    }

    .top-left{
        font-size: 1rem;
    }

    .top-title{
        font-size: 2.2rem;
    }

    .mid{
        width: 38%;
        height: 40vh;
}

.subtitle{
    font-size: 7.5rem;
}

.mid-button{
    width: 30%;
}

.insp{
    font-size: 1.5rem;
}

.social-item{
    width: 1.5vw;
    height: 1.5vw;
}
}