body{
    width: 100vw;
    height: 100vh;
}

.main{
    width: 100vw;
    height: 95vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column;
}

@media screen and (min-width: 320px){



.background{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
}

.bg-main{
    width: 100vw;
    height: 100vh;
    background-image: url("l-bg.jpg");
    background-size: 100vw 100vh;
    filter: blur(6px);
    position: absolute;
    z-index: 0;
}

.circle{
    width: 55vw;
    height: 55vw;
    background-image: url('l-bg.jpg');
    background-size: cover;
    border-radius: 360px;
    position: relative;
    z-index: 2;
    filter: contrast(1.5)
    /* display: none; */
}

.top{
    position: relative;
    z-index: 3;
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1rem;
}

.menu-layer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: .8rem;

}

/* .ui-top{
    position: relative;
    z-index: 3;
    display: flex;
    width: 100vw;
    height: 2vh;
    justify-content: space-evenly;
    flex-direction: row; */

/* } */

.top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    font-size: .8rem;
}

.top-title{
    width: 25w;
    font-size: 1rem;
}

.top-right{
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
    /* width: 15vw;
    height: 5vh;
    border: solid white 1px;
    border-radius: 360px; */
    /* background: #000; */

}

.search{
    width: 50vw;
    height: 5vh;
    border: solid white 1px;
    border-radius: 360px;
    display: none;

}

.kebab{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    /* padding: 0 16px; */
    /* top: 12px; */
}

.kebab dot{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    margin: 3px 0;
    background: white;
}

.k-img{
    height: 2.5vh;

}

.mid{
    color: white;
    z-index: 3;
    height: 20vh;
    width: 70vw;
    display: flex;

    justify-content: space-between;
    align-content: space-between;
}

.subtitle{
    font-size: 10vw;
}

.mid-button{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.insp{
    border: none;
    border-radius: 150px;
    height: 5vh;
    width: 120px;
}

.bot{
    width: 100vw;
    height: 10vh;
    display: flex;

}

.l-line{
    color: white;
    opacity: .3;
    border: 1px solid white;
    z-index: 3;
    position: relative;
    width: 28vw;
    height: 0;
    /* height: .099vh; */
}

.social{
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;

}

.social-i{
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;
    filter: invert();
}

.social-t{
    
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;
    filter: invert();
    
}

.social-f{
    position: relative;
    z-index: 3;
    width: 25px;
    height: 25px;
    filter: invert();
}

.social-item{
    width: 3vw;
    height: 4vw;
    border: 1px solid ;
    border-radius: 360px;
    padding: 10px;
    z-index: 3;
}

}


@media screen and (min-width: 1000px){
    .circle{
        width: 35vw;
        height: 35vw;
    }
}